[Unit]
Description=Upsource service
After=syslog.target network.target

[Service]
Type=simple
User={{ upsource_user }}
Group={{ upsource_group }}
ExecStart={{ upsource_lsb_script }} start
ExecStop={{ upsource_lsb_script }} stop
ExecReload={{ upsource_lsb_script }} restart
PIDFile={{ upsource_workdir }}/logs/upsource.pid
LimitAS={{ upsource_as }}
LimitMEMLOCK={{ upsource_memlock }}
LimitNOFILE={{ upsource_nofile }}
LimitNPROC={{ upsource_nproc }}

[Install]
WantedBy=multi-user.target
